/* Try different box model properties below */
[class="site-header"]  {
    color:white;
}
p{
    margin-bottom: 3px;
}

div [class="site-footer"]{
    font-size: 12px;
    text-align: center;
}

.site-footer:last-child{
    box-shadow:4px 4px 0 #dba944;
}