/* Add your own CSS code below */
span.heart {
  color: #c85308;
}
@media only screen and(min-width:992px) {
  .hero__title {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 767px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .views {
    display: flex;
    align-items: center;
  }
  a.view-list__item {
    margin-right: 15px;
    margin-left: 10px;
  }
}

ul {
  display: flex;
  justify-content: space-between;
}

article.main-article {
  max-width: 50em;
  line-height: 1.5em;
}
