.countries {
  display: flex;
}

/* Add your own CSS code below */

.countries--first li:first-child {
  order: 1;
}
.countries--first li:nth-child(2) {
  order: 5;
}
.countries--first li:nth-child(3) {
  order: 4;
}
.countries--first li:nth-child(4) {
  order: 3;
}
.countries--first li:last-child {
  order: 2;
}
.countries--first {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.countries--second li:first-child {
  order: 4;
}
.countries--second li:nth-child(2) {
  order: 1;
}
.countries--second li:nth-child(3) {
  order: 2;
}
.countries--second li:nth-child(4) {
  order: 3;
}
.countries--second li:last-child {
  order: 5;
}

.countries--third li:first-child {
  order: 5;
}
.countries--third li:nth-child(2) {
  order: 4;
}
.countries--third li:nth-child(3) {
  order: 3;
}
.countries--third li:nth-child(4) {
  order: 2;
}
.countries--third li:last-child {
  order: 1;
}
